<header>
  <div class="navbar-inner">
    <div class="heading">
      <%= link_to 'Saborine', root_path, class: "navbar-left" %>
    </div>
    <div class="navbar">
      <ul class="navbar-right">
        <% unless user_signed_in? %>
          <li><%= link_to '新規登録', new_user_registration_path, class: "user-nav" %></li>
          <li><%= link_to 'ログイン', new_user_session_path, class: "user-nav" %></li>
        <% else %>
          <li><%= link_to @user.nickname, user_path(@user), class: "user-nav" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user-nav logout-btn" %></li>
        <% end %>
      </ul>
    </div>     
  </div>
</header>


