<%= render 'shared/header' %>

<div class="main-wrapper">
  <div class="edit-main-wrapper">
    <div class="edit-wrapper">
      <div class="edit-record-modal-wrapper">
        <div class="edit-modal">
          <div id="edit-record-form">
            <div class="modal-title">記録を変更する</div>
              <%= form_with model: @record, local: true do |f| %> 
                <div class="modal-input-wrapper">
                  <%= f.number_field :time, placeholder: "どのくらいサボった？ 半角数字で記入 (分単位)", class: "modal-input-space" %>
                  <%= f.text_area :skip, placeholder: "何してた？", class: "modal-input-space" %>
                  <%= f.text_area :to_do, placeholder: "何すべきだった？", class: "modal-input-space" %>
                </div>
                <div class="save-cancel-btns">
                  <%= f.submit 'UPDATE', id: "submit", class: "modal-submit colorchange" %>
                  <!-- ここに削除アイコンを入れる -->
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>