<%= render 'shared/header' %>

<div class="main-wrapper">
  <% if @records.any? %>
    <div class="search-space">
      表示を期間で絞る
      <%= form_with url:  search_records_path, method: :get, class: "date-search-form", local: true do |f| %> 
      <%# <form action="get" class="date-search-form"> %>
        <%= f.date_field  :start_period, required: true, value: "#{params[:start_period]}" %>
        <%# <input type="date"> %>
        〜
        <%= f.date_field  :end_period, required: true, value: "#{params[:end_period]}"  %>
        <%# <input type="date"> %>
        <%= f.submit 'SEARCH', class: "search-button" %>
        <%# <input type="submit" value="SEARCH" class="search-button"> %>
      <%# </form> %>
      <% end %>
    </div>
  <% end %>
  <%# <% unless @record.errors.any? %>
    <div class="graph-space">
        <%= column_chart @records.limit(7).group(:date).sum(:time), colors: ["purple"], width: "1500px", height: "480px", xtitle: "日付", ytitle: "合計(分)",  messages: {empty: "記録を追加するとグラフが表示されます"} %>
    </div>
    <%= render 'shared/card', { records: @records } %>
  <%# <% end %>
</div>

<%= render 'shared/footer' %>